body {
	font-family:'Sanchez', arial, georgia, sans-serif;
	font-size:14px;
	line-height:21px;
	background:#444;
}

h1 {
	font-size:16px;
	font-weight:bold;
}

header {
	background-color:#9ab5a9;
	height:65px;
	width:100%;
	border-bottom:1px solid #ccc;
	overflow:hidden;
	padding:5px 0 0;
}

#headerWrap {
	width:100%;
	max-width:990px;
	margin:0 auto;
}

.kro {
	float:left;
	width:218px;
	height:45px;
	display:block;
	background: url('../img/kronoline.png') no-repeat scroll 0 0 transparent;
	text-decoration:none;
	text-indent:-9999px;
	display:none;
}

.bg-top-logo {
	float:right;
	width:44px;
	height:60px;
	display:block;
	background: url('../img/bg-both-logo.png') no-repeat scroll 0 0;
	text-decoration:none;
	text-indent:-9999px;
}

#header {
	padding:25px 0;
	overflow:hidden;
}

#header h1 { 
	float:left; 
	margin:0; 
	font-size:28px; 
	color:#fff;
}

#header #export, #header #print { 
	float:right; 
}

#wrapper {
	max-width:990px;
	position:relative;
	padding:0 0 40px;
	margin:0 auto;
}

.clear { 
	clear:both; 
}

#timeline, #customize { 
	margin:0 auto; 
}

#customize {
	width:100%;
	margin:10px auto 0;	
	max-width:990px;
}

#timeline {
	overflow:hidden;
	position:relative;
	width:100%;	
	min-width:990px;
	max-width:990px;
	height:420px;
	background:url('../img/kron-grid.png') repeat scroll 0 0;	
}	

#timeCenter {
	margin:0 auto;
	width:95%;
	height:100%;
}

.timeBlocks {
	width: 218px;
	float: left;
	margin: 0;
	padding: 160px 0 0;
	list-style-type: none;
	position: relative;
	height:160px;
}

.timeBlocks:hover {
	cursor:move;
}

#timeWrapper {
	padding:0 0;
	/*width: 300%;*/
	margin: 0;
	overflow: hidden;
	position: relative;
	left: 0px;
	height:100%;	
}

.simpleColorSelectButton:hover {
	-webkit-opacity:0.6;
	-moz-opacity:0.6;
	filter: alpha(opacity=60);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	opacity:0.6;
}

#timeInner { width:0px; }

h1.mileStoneTitle {
	font-size:16px;
	font-weight:bold;
	word-wrap:break-word;
	white-space:pre-wrap;
	width:175px;
	text-align:center;

	padding:5px 20px;
}

 h1.mileStoneDate {
	font-size:12px;
	font-weight:bold;

	padding:10px 15px;
 }

.hTime {
	height:100px;
	position:relative;
	z-index:1;
}

.ui-sortable-helper { /*.taskMoving,*/
	border:3px dashed #ccc;
	
}

.delCheck { z-index:2; }

.timeBlockTop .delCheck {
	position: relative;
	top: 0;
	left: 0;	
}

.timeBlockTop {
}
		
.timeBlockBottom .delCheck{
	position:relative;
	top: 120px;
	left: 0px;
}
		
.top, .bottom {
	height:50%;
	position:relative;
}

.mileStoneTitle {
	text-transform:capitalize;
}

.mileTwrapper, .mileDwrapper {
	position:absolute;
	padding:3px 5px 2px;
	background-color:#f2f2f2;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.mileTwrapper {
	max-width:200px;
}

.mileTwrapper ul {
	margin:0;
	padding:0;
	position:relative;
}

.mileTwrapper ul li {
	list-style-type:none;
	display:inline;
	float:left;
	margin:0 6px 0 0;
}

.mileTwrapper ul li.delWrapper {
	position:absolute;
	top:-9px;
	right:-7px;
}

.mileTwrapper ul li input {
	margin:4px 0 0;
	padding:0;
}

.timeBlockInner {
	z-index:1;
	
}

input.numTasksLeft {
	display:none;
}

a.delete, #removeTitleBtn{
	text-decoration: none;
	z-index: 2;
	position: absolute;

	width: 42px;
	height: 42px;
	font-size: 12px;
	font-weight: bold;
	font-family: myriad pro;
	color: #000;
	width: 100%;
	background-color: #f2f2f2;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	display: block;
	text-align: center;
	padding: 0 0 2px;
}

a.delete:hover, #removeTitleBtn:hover {
	background-color:#ccc;
}

.timelineTitleWrapper {
	position:absolute;
	left:400px;
	top:20px;
	overflow:hidden;
}

.timelineTitleWrapper ul {
	margin:0 25px 0 0;
	padding:0;
	float:left;
}

.timelineTitleWrapper ul li {
	display:inline;
	float:left;
}

.timelineTitleWrapper ul li.first {
	margin:0 5px 0 0;
}

.timelineTitle {
	font-size:25px;
	font-weight:bold;
	text-transform:capitalize;
	color:#ff0000;
	padding:10px 15px;
}

.timeBlockTop a.delete {
	top: 185px;
	right: 9px;
}

.timeBlockBottom a.delete {
	bottom:77px;
	right:9px;
}

.timeBlockBottom .bottom, .timeBlockTop  .top { 
	border-right:4px solid #ccc; 
}

.timeBlockTop .mileDwrapper { 
	top: 5px; 
	right:-15%; 
}

.timeBlockBottom .mileDwrapper { 
	bottom:60px; 
	right:-18%; 
}

.timeBlockTop .mileTwrapper  { 
	bottom: 55px; 
}

.timeBlockBottom .mileTwrapper { 
	top:108px;
}

.highlight { 
	background-color:yellow; 
	padding:10px;
	font-weight:bold;
	font-size:12px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}

/* scroller */
a.goleftpeople {
	width: 2.5%;
	display: block;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background: white;
	opacity: 0.80;
	filter: alpha(opacity=80);
	background: #f4f4f4;	
	color:#9ab5a9;
}
		
a.gorightpeople {
	width: 2.5%;
	display: block;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1000;
	background: white;
	opacity: 0.80;
	filter: alpha(opacity=80);
	background: #f4f4f4;	
	color:#9ab5a9;
}

a.goleftpeople:hover, a.gorightpeople:hover {
		background-color:#ccc;
}
		
a.goleftpeople p, a.gorightpeople p  {
	font-size: 1.5em;
	font-weight: bold;
	position: absolute;
	top: 43%;

	letter-spacing: -1px;
	font-family: 'Sanchez', Arial, Helvetica, sans-serif;
}

a.goleftpeople p { left: 18%; }
a.gorightpeople p { right: 18%; }

a#back {
	display:none;
	float:right;
	width:37px;
}

#clear, #save, #print, #embed, #saveALL {
	float:right;
	display:block;
	margin-right:10px;
}

.slide4-copy {
	float: left;
	width: 316px;
}

.slide4-copy p {
	font-family: 'Sanchez', Arial, helvetica, sans-serif;
	font-size: 26px;
	line-height: 36px;
	color: #333;
}

#jsonVal {
	visibility:hidden;
	width:0;
	height:0;
}

#cloneWrapper {
	width:75%;
	margin:0 auto;
	padding:0 15px;
	/*overflow-x-:scroll;
	overflow-y:hidden;*/
	overflow:auto;
}

#clone .timeBlocks a.delete, #clone .timeBlocks .numTasksLeft {
	display:none;
}

.circle {
	float:left;
	width:20px;
	height:20px;
	background-color:#000;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	position:relative;
	top:201px;
	left:0;
}

#clone {
	display:none;
	width:100%;
	margin:0 auto;
	position:relative;
}

#clone h1.mileStoneTitle {
	text-align:center;
}

button, a.button {
	text-decoration:none;
	color:#fff;
	border:none;
	background-color:#ccc;
	padding:15px 25px;
	font-family:'arial', georgia, sans-serif;
	font-size:14px;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	/*background: #9ab5a9;  Old browsers */
	background: #adc9be; /* Old browsers */
	background: -moz-linear-gradient(top, #adc9be 0%, #a8c4b9 50%, #a8c4b7 51%, #9ab5a9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adc9be), color-stop(50%,#a8c4b9), color-stop(51%,#a8c4b7), color-stop(100%,#9ab5a9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #adc9be 0%,#a8c4b9 50%,#a8c4b7 51%,#9ab5a9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #adc9be 0%,#a8c4b9 50%,#a8c4b7 51%,#9ab5a9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #adc9be 0%,#a8c4b9 50%,#a8c4b7 51%,#9ab5a9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #adc9be 0%,#a8c4b9 50%,#a8c4b7 51%,#9ab5a9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc9be', endColorstr='#9ab5a9',GradientType=0 ); /* IE6-9 */
	
	-moz-text-shadow:1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-text-shadow:1px 1px 0px rgba(0, 0, 0, 0.1);
	-text-shadow:1px 1px 0px rgba(0, 0, 0, 0.1);
}

input.inputStyle, textarea {
	border:1px solid #999;
	padding:15px 20px;
	-moz-border-radius:3px;
	-wekit-border-radius:3px;
	border-radius:3px;

	-webkit-box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.3) inset;
	box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.3) inset;
}

.CustomInputStyle {
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-decoration:underline;
	padding:10px 15px;
	float:left;
	width:25px;

	font-family:'Sanchez', Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:24px;
	color:#333;	
}

#colorCustomize button {
	float:left;
}

#thick {
	float:left;
	border:0;
}

/*widget slider styling*/

.ui-widget-header {
	background:#333 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background-image: none !important;
	background-color: #adc9be !important;
}

.ui-datepicker-title {
	color:#fff;
}

#master {
	float:left;
}

.tUnit {
	float:left;
	font-family:'Sanchez', Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:24px;
	color:#333;

	padding:10px 0 0;
	margin:0 5px;
}

button:hover {
	cursor:pointer;
}

span.completeTasks {
	font-size:11px;
	font-weight:normal
}

#noData {
	margin:198px auto 0;
	width:25%;
}

#noData h1 {
	font-size:25px;
	font-style:normal;
	font-weight:normal;
}

label {
	float:left;
	margin:12px 3px 12px 0;

	font-family:'Sanchez', Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:24px;
}

.left {
	float:left;
}

.right {
	float:right;
}

.previewWrapper {
	position:absolute;
	top:0;
	right:0;
}


.previewWrapper #export, .previewWrapper #saveJSON{
	display:none;
	position:relative;
	top:0;
	right:0;

	font-family: 'Sanchez', Arial, Helvetica, Sans-serif;
	font-size: 2em;
	color: #fff;
	padding: 3px 10px;
	text-transform:capitalize;

	 -moz-border-radius:3px;
  	-webkit-border-radius:3px;
  	border-radius:4px;

  	-webkit-box-shadow:0 0 3px rgba(255, 255, 255, 0.8);
  	-moz-box-shadow:0 0 3px rgba(255, 255, 255, 0.8);
  	box-shadow:0 0 3px rgba(255, 255, 255, 0.8);

  	z-index:2;
  	margin:0;
}

#saveJSON:hover {
	border:1px solid #fff;
}

.form {
	margin:0 20px 0 0;
}

form ul {
	margin:0;
	padding:0;
	width:100%;
}

form ul li {
	margin:0 0 10px 0;
	padding:0;
	list-style-type:none;
	display:block;
	overflow:hidden;
}

form ul li input.inputStyle {
	float:left;
}

#task, .mileStoneTitleInput, #timelineTitle {
	min-width:300px;
}

#taskForm, #thickForm, #titleForm {
	height:auto;
	position:relative;
	float:left;
	overflow:hidden;
	width:100%;
	padding-bottom:10px;
}

.trash {
    background-color: #000;
    width:125px;
    min-height:50px;
}

.error {
	font-size:10px;
	color:red;
	font-family:arial;
}

#step {
	overflow:hidden;
	width:55%;
	margin:0 auto;
}

#step ul {
	margin:0;
	padding:0;
}

#step ul li {
	list-style-type:none;
	display:inline-block;
	float:left;
	margin:0 20px 20px 0;
}

#step ul li a {
	font-family:'Sanchez', Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	text-transform:capitalize;
	display:block;
	text-decoration:none;
}

#step ul li a.arrow {
	display:block;
	width:6px;
	height:12px;
	background:url('../img/right-arrow.png') no-repeat scroll 0 0;
	margin:5px 0 0 0;
}

#listConv {
	float:left;
}

.bold {
	font-weight:bold !important;
	font-size:16px !important;
}

.characterError {
	position:absolute;
	top:55px;
	left:20px;
	display:none;
}

.thickError {
	position:absolute;
	top:45px;
	left:149px;
	display:none;
}

.redBorder {
	border:1px solid red !important;
}

#editableTasks {
	margin:0;
}

.centerSlide {
	width:95%;
	margin:0 auto;
	position:relative;
}

#editableTasks ul li:hover, #editableTasks ul li a:hover {
	cursor:move;
}

#colorCustomize ul li {
	width:100%;
	overflow:hidden;
}

#colorCustomize ul li div {
	
	float:left;
}

.labelWrap {
	float:left;
	width:18%;
	display:block;
}

.labelWrap2 {
	float:left;
	width:50%;
	display:block;
}

.sizeWrap {
	width:55%;
	float:left;
}

.colourWrap {
	width:15%;
	float:left;

}

.bgWrap {
	width:30%;
}

/*Color Picker*/
.simpleColorContainer {
	float:left; 
	width:auto;
	margin:0;
}

.simpleColorDisplay {
	height:40px !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !Important;
	border-radius:3px !important;
	border:1px solid #ccc !important;
	width:60px !important;
	margin:0;
	padding:0;

	-webkit-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.6) inset;
	-moz-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.6) inset;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.6) inset;
}

.simpleColorDisplay, .simpleColorSelectButton, .simpleColorCancelButton {
	float:left;
}

.simpleColorSelectButton, .simpleColorCancelButton {
	text-decoration: none;
	color: #565656;
	border: none;
	background-color: #ccc;
	padding: 10px 20px;
	font-family: 'arial', georgia, sans-serif;
	font-size: 14px;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 33%, #dddddd 75%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(33%,#ededed), color-stop(75%,#dddddd), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#ededed 33%,#dddddd 75%,#cccccc 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%,#ededed 33%,#dddddd 75%,#cccccc 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%,#ededed 33%,#dddddd 75%,#cccccc 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%,#ededed 33%,#dddddd 75%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cccccc',GradientType=0 );
	-moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
	-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.simpleColorChooser {
	overflow:hidden;
}

/*Canvas*/
#canvasPlay {
	margin:0 auto;
	width:100%;
	max-width:990px;
	position:relative;
	max-height:560px;
	overflow-x:scroll;
	overflow-y:hidden;
	display:none;
	border-top:1px solid #ccc;
}
#myCanvas {
	border:1px solid #000;
	visibility:hidden;
}

#container {
	margin:0 0;
	/*border:1px solid #000;*/
}

#container canvas {
	float:left !important;
}	

.bottomBtnWrapper {
	padding-bottom:0;
}

#canvasWrapper {
	/*width:300%;
	overflow:scroll;*/
	position:relative;
	background-color:#fff;
	min-width:100%;
	height:420px;
}

.canvasClass {
	position:absolute;
	top:0;
	left:0;
	margin:0 auto;
	height:auto;
	width:100%;
	background-color:yellow;
	z-index:9999;
	-moz-border-bottom-left:2px;
	-moz-border-bottom-right:2px;
	-webkit-border-bottom-left:2px;
	-webkit-border-bottom-right:2px;
	border-bottom-left:2px;
	border-bottom-right:2px;

	-webkit-opacity:0.5;
	-moz-opacity:0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity:0.5;
}

.canvasClass h1 {
	font-size:18px;
	text-transform:capitalize;
	text-align:left;
	padding:10px;
}

.cSupport.canvasClass h1 {
	text-align:center;
}

#container .kineticjs-content {
	float:left !important;
}

#scroll {
	position:relative;
	margin:0 auto;
	width:980px;
	height:300px;
	overflow:auto;
}

.innerScroll {
	width:3000px;
	height:300px;
	margin:0;
	padding:0;
}

#imgWrapper {
	/*visibility:hidden;*/
	display:none;
}

#canvasImg {
	position:absolute;
	top:20px;
	left:0;
	display:none;
}

.rightClick {
	position:absolute;
	top:20px;
	left:10px;
	color:red;
}

#login {
	margin:0 auto;
	max-width:990px;
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative;
}

.logCred {
	margin: 0 auto;
	max-width: 990px;
	width:100%;
	height: auto;
	background-color: #fff;
	padding: 24px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.logCred ul {
	margin:0 auto;
	padding:0;
	overflow:hidden;
	max-width:654px;
	width:100%;
}

.logCred ul li {
	list-style-type:none;
	float:left;
	display:inline-block;
	margin:0;
	padding:10px;
	background:#9ab5a9;
}

.logCred ul li.fb {
	margin:0 1em 0 0;
}

.logCred ul li span {
	display:inline-block;
	float:left;
	margin:0 0.5em 0 0;
	padding:0;
	width:32px;
	height:30px;
	background:url('../img/social.png') no-repeat scroll;
}

.logCred ul li.fb span {
	background-position:0 0;
}

.logCred ul li.tw span {
	background-position:0 -32px;
}

.logCred ul li a {
	font-family:'Sanchez', Arial, Helvetica, sans-serif;
	font-size:26px;
	line-height:24px;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	float:left;
}
/* Slide show */

#slideshow {
	position:relative;
	padding-top:10px;
	width:100%;
	min-width:990px;
}

#slideshow #slidesContainer {
  	margin:0 auto;
  	width:990px;
  	/*height:563px;*/
  	height:auto;
  	overflow:auto; /* allow scrollbar */
  	position:relative;

  	z-index:1;
}


#slideshow #slidesContainer .slide {
  	margin:0 auto;
  	width:970px; /* reduce by 20 pixels to avoid horizontal scroll 
  	height:563px;*/
  	height:auto;
  	background-color:#fff;

  	padding:24px 0;
  	-webkit-border-radius:4px;
  	-moz-border-radius:4px;
  	border-radius:4px;
}

/**
 * Slideshow controls style rules.
 */
.control {
  	display:block;
  	/*width:39px;
  	height:563px;
  	text-indent:-10000px;*/
  	position:absolute;
  	cursor: pointer;
  	height:auto;
  	width:auto;
  	font-family:'Sanchez', Arial, Helvetica, Sans-serif;
  	font-size:2em;
  	color:#fff;
  	padding:10px 15px;

  	-moz-border-radius:3px;
  	-webkit-border-radius:3px;
  	border-radius:4px;
  	text-transform:capitalize;

  	-webkit-box-shadow:0 0 3px rgba(255, 255, 255, 0.8);
  	-moz-box-shadow:0 0 3px rgba(255, 255, 255, 0.8);
  	box-shadow:0 0 3px rgba(255, 255, 255, 0.8);

  	z-index:2;

}

.control:hover {
	border:1px solid #fff;
}

#leftControl, #rightControl {
	top:0;
}

#leftControl {
	left:0;
	background-color:#333333;
	/*background:transparent url(img/control_left.jpg) no-repeat 0 0;*/
}

#rightControl {
	right:0;
	background-color:#9ab5a9;
	/*background:transparent url(img/control_right.jpg) no-repeat 0 0;*/
}

#multipleTimelines{
	display:none;
}

#individualTimelines {
	display:block;
}

.stepTitle {
	font-family:'Sanchez', Arial, Helvetica, Sans-serif;
	font-size:23px;
	line-height:25px;
	color:#333333;
	margin:0 0 30px 0;
}

#step1Title .multiple {
	background-color:none;
	position:relative;
	border:none;
	background:none;
	font-size:23px;
	line-height:25px;
	color:#333333;
	margin:0;
	padding:0;
	display:inline-block;
	text-decoration:underline;
}

footer {
	width:100%;
	background:#212121;
	overflow:hidden;
	font-family:'Sanchez', Arial, Helvetica, sans-serif;
	padding:30px 0;
}

.foot-wrap {
	padding:5px 0;
	max-width:990px;
	margin:0 auto;
}

footer ul {
	margin:0;
	padding:0;
}

footer ul li {
	list-style-type:none;
	display:inline-block;
	float:left;
	margin: 0 55px 0 0;
	padding:0;
}

footer ul li a {
	font-family:inherit;
	font-size:18px;
	line-height:24px;
	text-transform:capitalize;
	text-decoration:none;
	color:#fff;
	display:block;
}

.bg-foot-logo {
	float:right;
	display:block;
	text-indent:-9999px;
	width:44px;
	height:60px;
	background:url('../img/bg-both-logo.png') no-repeat scroll 0 -60px;
}

.hide {
	display:none;
}

.intro {
	float:left;
	max-width:307px;
	margin:0 30px 0 0;
}

.egTimeline {
	float:left;
}

.egTimeline img {
	width:100%;
	display:block;
}

.intro p {
	font-family:'Sanchez', Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:24px;
	color:#fff;
	margin:0 0 30px 0;
}

.introWrap {
	padding:45px 0;
}

.startBtn {
	background-color:#eb5358;
	color:#fff;
	font-family:'Sanchez', Arial, Helvetica, sans-serif;
	font-size:26px;
	line-height:24px;
	display:block;
	text-align:center;
	padding:15px 25px;
	text-decoration:none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-webkit-box-shadow:0 0 3px rgba(255, 255, 255, 0.8);
	-moz-box-shadow:0 0 3px rgba(255, 255, 255, 0.8);
	box-shadow:0 0 3px rgba(255, 255, 255, 0.8);
}

.startBtn:hover {
 border:1px solid #fff;
}

.disableStart {
	background-color:#333333 !important;
	color:#adadad !important;
	border:1px solid #adadad;
}

.startBtn.disableStart:hover {
	border:1px solid #adadad;
	cursor:default;
}

@meda only print {
	header {
		display:none;
	}
}